/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.offices_list {
    display: grid;
    grid-template: auto / 50% 50%;
    grid-column-gap: 20px;
}
.offices_list_right_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

button[mat-raised-button]{
    margin-top: 6px;
    margin-bottom:23px;
}

.offices_list_right_side mat-card{
    flex-grow: 1;
}

.app-form-container{
    width: 400px;
    margin:auto;
}

.app-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.app-form mat-form-field{
    margin: 10px 0px;
}